name: tagpr

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  tagpr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        env:
          token: ${{ secrets.PAT_FOR_TAGPR }}

      - name: Configure Git
        run: |
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"

      - uses: Songmu/tagpr@v1
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_FOR_TAGPR }}
